.landing {

  display: grid;
  place-content: center;
  margin-left: 130px;
  margin-right: 20px;

  h1 {
    font-family: 'Concert One', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 4rem;
    // font-weight: lighter;
  }

  p {
    font-size: 1.5rem;
    font-family: 'Concert One', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: lighter;
  }

}

.newsCardWrapper {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;

  a {
    text-decoration: none;
  }
}

a:hover {
  color: red;
}

.newsDetailsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  padding: 16px;


  img {
    width: 100%;
  }
}