.footerStyle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(250, 240, 240);
  font-size: 0.5rem;
  padding: 0 50px;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

    ul {
      display: flex;
      list-style-type: none;
      justify-content: end;
      gap: 10px;
      align-items: center;
    }


    a {
      display: flex;
      text-decoration: none;
      align-items: center;
    }
  }

}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    width: 35px;
  }

}